Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.cache
config.h
config.h.in
config.log
config.status
config.sub
config.guess
config.rpath
stamp-h
stamp-h1
install-sh
mkinstalldirs
missing
depcomp
compile
ABOUT-NLS
m4
